# ⚙️ Node
node_modules/
package-lock.json

# 📦 Package builds
core/dist/
react/dist/

# 💻 OS + editor junk
.DS_Store
Thumbs.db
*.log

# 🧪 Test coverage / tools
coverage/
.nyc_output/

# ⚙️ TypeScript cache
*.tsbuildinfo

# 🔧 VSCode
.vscode/

# 💥 Env files
.env
.env.*
